# 6th Experiment

In [45]:
import numpy as np
import pandas as pd
import statistics as st

In [2]:
#Standard Deviation
a=np.array([5,6,7])
print(a)
print(np.std(a))

[5 6 7]
0.816496580927726

In [3]:
#Varience
a=np.array([[1,2],[3,4]])
print(a)
print(np.var(a))

[[1 2]
 [3 4]]
1.25

In [4]:
#Median
a=np.array([1,2,3])
print(a)
print(np.median(a))

[1 2 3]
2.0

In [6]:
a=np.array([1,2,3,3,3,4])
print(a)
print(st.mode(a))

[1 2 3 3 3 4]
3

In [7]:
#Mean 
a=np.array([5,6,7])
print(a)
b=np.mean(a)
print(b)

[5 6 7]
6.0

# Applying Statistical Function on csv

In [2]:
import numpy as np
import pandas as pd
import statistics as st

In [4]:
df = pd.read_csv('oyo_rooms.csv')

In [5]:
df

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
0,0,Capital O 80951 Hotel Radisson Suite,"India, Mumbai",2819.0,65% off,104.0
1,1,OYO SilverKey Hotel Manas Residency,"Chembur East, Mumbai",2702.0,65% off,410.0
2,2,OYO Hotel Airport Metro Near Chhatrapati Shiva...,"Andheri East, Mumbai",2289.0,64% off,879.0
3,3,Collection O Hotel Kiwi International Near Chh...,"Andheri East, Mumbai",2094.0,66% off,75.0
4,4,OYO Druv's Taj Palace Near Chhatrapati Shivaji...,"Near Asalpha Metro Station, Dhumai Estate, Mumbai",2656.0,65% off,686.0
...,...,...,...,...,...,...
455,455,Flagship New Silver Inn,"Near Tagore Park, Tijala, Kolkata",NaN,NaN,NaN
456,456,Flagship Tinker Bell Near Acropolis Mall,"Mukundapur, Kolkata",NaN,NaN,NaN
457,457,OYO Flagship Hotel Suleman Palace Near St. Tho...,"Bux Lane, Kolkata",NaN,NaN,NaN
458,458,Flagship Rakhakali Guest House Fooding And Loding,"near Shalimar station ticket counter , Kolkata",NaN,NaN,NaN
459,459,Flagship Kajali Guest House Near Birla Mandir,"Near Bosepukur, Kasba, Kolkata",NaN,NaN,NaN

In [6]:
df.head()

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
0,0,Capital O 80951 Hotel Radisson Suite,"India, Mumbai",2819.0,65% off,104.0
1,1,OYO SilverKey Hotel Manas Residency,"Chembur East, Mumbai",2702.0,65% off,410.0
2,2,OYO Hotel Airport Metro Near Chhatrapati Shiva...,"Andheri East, Mumbai",2289.0,64% off,879.0
3,3,Collection O Hotel Kiwi International Near Chh...,"Andheri East, Mumbai",2094.0,66% off,75.0
4,4,OYO Druv's Taj Palace Near Chhatrapati Shivaji...,"Near Asalpha Metro Station, Dhumai Estate, Mumbai",2656.0,65% off,686.0

In [7]:
df.tail()

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
455,455,Flagship New Silver Inn,"Near Tagore Park, Tijala, Kolkata",NaN,NaN,NaN
456,456,Flagship Tinker Bell Near Acropolis Mall,"Mukundapur, Kolkata",NaN,NaN,NaN
457,457,OYO Flagship Hotel Suleman Palace Near St. Tho...,"Bux Lane, Kolkata",NaN,NaN,NaN
458,458,Flagship Rakhakali Guest House Fooding And Loding,"near Shalimar station ticket counter , Kolkata",NaN,NaN,NaN
459,459,Flagship Kajali Guest House Near Birla Mandir,"Near Bosepukur, Kasba, Kolkata",NaN,NaN,NaN

In [8]:
df.count()

Unnamed: 0    460
Hotel_name    460
Location      460
Price         418
Discount      418
Rating        438
dtype: int64

In [14]:
df.describe()

       Unnamed: 0        Price       Rating
count  460.000000   418.000000   438.000000
mean   229.500000  1290.191388   620.636986
std    132.934821   550.144661   934.922813
min      0.000000   449.000000     1.000000
25%    114.750000   909.250000    61.250000
50%    229.500000  1206.000000   266.500000
75%    344.250000  1497.500000   826.750000
max    459.000000  4069.000000  7398.000000

In [15]:
df.std()

C:\Users\TEMP~1.MIT\AppData\Local\Temp/ipykernel_3916/3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Unnamed: 0    132.934821
Price         550.144661
Rating        934.922813
dtype: float64

In [16]:
df.dtypes

Unnamed: 0      int64
Hotel_name     object
Location       object
Price         float64
Discount       object
Rating        float64
dtype: object

In [17]:
df.columns

Index(['Unnamed: 0', 'Hotel_name', 'Location', 'Price', 'Discount', 'Rating'], dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  460 non-null    int64
 1   Hotel_name  460 non-null    object
 2   Location    460 non-null    object
 3   Price       418 non-null    float64
 4   Discount    418 non-null    object
 5   Rating      438 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 21.7+ KB

In [20]:
df1 = df[df.isna().any(axis=1)]

In [21]:
df1

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
418,418,OYO Padmavati Projects Pvt Ltd Near Netaji Sub...,"Biswa Bangla Sarani Behind Binany Building, Ch...",NaN,NaN,6.0
419,419,OYO Pallyshree Guest House,"Jyangra Sani Mandir, Baguiati Jora Mandir Chin...",NaN,NaN,7.0
420,420,Oyo Townhouse 92944 Hotel Pan Asia International,"Jatin Das Road, Kolkata",NaN,NaN,144.0
421,421,OYO Flagship Hotel The Buddha Fooding And Lodging,"Near Samabayika Behala, Kolkata",NaN,NaN,7398.0
422,422,Super OYO Townhouse Hotel Vrindavan,AA-027 Salt Lake Sector 1 1st Cross Road PNB I...,NaN,NaN,7.0
423,423,Collection O Rest In Near Saltlake,"Near Newtown Bus stand , Kolkata",NaN,NaN,127.0
424,424,Flagship 78299 White Stone Hospitality,Aminia Restaurant Back Side Chinar Park Crossi...,NaN,NaN,161.0
425,425,Collection O 812085 Hotel 7dayz Inn Near City ...,"West Bengal, Kolkata",NaN,NaN,69.0
426,426,Collection O 812607 Hotel G.N Palace,"Bara Bazar, Kolkata",NaN,NaN,107.0
427,427,Flagship Divya Jyoti Inn Near RDB Cinemas,"AI 87 Street No 23 Action Area 1 Newtown, Raja...",NaN,NaN,77.0
428,428,OYO Flagship 70403 Chinar Inn,"Behind Shree Shree Bholanath Kali Temple, Kolkata",NaN,NaN,130.0
429,429,OYO Hotel Padmavati Near Netaji Subhash Chandr...,"Biswa Bangla Sarani Behind Binany Building, Ch...",NaN,NaN,24.0
430,430,OYO Flagship 81584 Hotel Swagatam,"Rajarhat, Kolkata",NaN,NaN,129.0
431,431,Collection O 64870 Hotel Holiday Science City,SANJHA CHULHA RESTAURANT SCIENCE CITY EM BYE PASS,NaN,NaN,1.0
432,432,OYO Comfort Stays,"Rajarhat, Kolkata",NaN,NaN,35.0
433,433,Flagship Heritage Inn Near City Centre Salt Lake,"Salt Lake, Kolkata",NaN,NaN,22.0
434,434,OYO Flagship 78267 City Inn,Avisar Spencer Kalikapur,NaN,NaN,16.0
435,435,Collection O 76651 Dovers Inn,"Opp Gariahat Police Station, Kolkata",NaN,NaN,23.0
436,436,Capital O Hotel Heritage Near VIP Road,"VIP Rd, Beside Spandhan Hospital, Raghunathpur...",NaN,NaN,21.0
437,437,Collection O Tulsi Palace,", Kolkata",NaN,NaN,53.0
438,438,OYO Flagship 812166 Moon Regency,"Sector 2, Kolkata",NaN,NaN,NaN
439,439,OYO Pratiksha Guest House Near City Centre Sal...,"Bangur Avenue Block B, Kolkata Kolkata West Be...",NaN,NaN,NaN
440,440,Townhouse 1210 Brill Rooms Inn,"Action Area 1A, Kolkata",NaN,NaN,NaN
441,441,Collection o 82136 Elite Stay,AL283 Al block salt lake sector 2 KOLKATA.,NaN,NaN,NaN
442,442,OYO Flagship Trivedi Inn Near Ruby Hospital,"Kasba, Kolkata",NaN,NaN,NaN
443,443,Super OYO Flagship Mourigram Near Andul Rd,"Howrah, Kolkata",NaN,NaN,NaN
444,444,Flagship Sammy Hospitality,"Salt Lake, Kolkata",NaN,NaN,NaN
445,445,Flagship Ankita Guest House,"Near Gst Bhawan, Kolkata",NaN,NaN,NaN
446,446,OYO Karunamoyee Guest House Near City Centre S...,"Karunamoyee Bus Terminal, Bidhannagar, Kolkata",NaN,NaN,NaN
447,447,OYO Smriti Villa Residency,"Sector IIInull, Kolkata",NaN,NaN,NaN
448,448,OYO Sima Inn Guest House Near City Centre Salt...,"Near Near Salt Lake, Sector 2, Kolkata",NaN,NaN,NaN
449,449,Flagship Chinar Heavens Near Netaji Subhash Ch...,"AS/267, KAIKHALI, CHINAR PARK, P.O. - AIRPORT,...",NaN,NaN,NaN
450,450,Flagship Scholars Motel guest House) Near St....,"Esplanade, Kolkata",NaN,NaN,NaN
451,451,Flagship H B Guest House,"Near Ruby Hospital, Kolkata",NaN,NaN,NaN
452,452,OYO Smriti Villa Near City Centre Salt Lake,"GD-138, GD MARKET, Near NIH, Salt Lake",NaN,NaN,NaN
453,453,SPOT ON Swapna Guest House Near Birla Mandir,1 No Hatgachia Dhapa Road Kolkata Behind Itc S...,NaN,NaN,NaN
454,454,Flagship 7 Div Guest House Near City Centre Sa...,"CK 109 Near Saltlake Sector 2, 9 No Water Tank...",NaN,NaN,NaN
455,455,Flagship New Silver Inn,"Near Tagore Park, Tijala, Kolkata",NaN,NaN,NaN
456,456,Flagship Tinker Bell Near Acropolis Mall,"Mukundapur, Kolkata",NaN,NaN,NaN
457,457,OYO Flagship Hotel Suleman Palace Near St. Tho...,"Bux Lane, Kolkata",NaN,NaN,NaN
458,458,Flagship Rakhakali Guest House Fooding And Loding,"near Shalimar station ticket counter , Kolkata",NaN,NaN,NaN
459,459,Flagship Kajali Guest House Near Birla Mandir,"Near Bosepukur, Kasba, Kolkata",NaN,NaN,NaN

In [22]:
df1.count()

Unnamed: 0    42
Hotel_name    42
Location      42
Price          0
Discount       0
Rating        20
dtype: int64

In [23]:
df2 = df.dropna()

In [24]:
df2

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
0,0,Capital O 80951 Hotel Radisson Suite,"India, Mumbai",2819.0,65% off,104.0
1,1,OYO SilverKey Hotel Manas Residency,"Chembur East, Mumbai",2702.0,65% off,410.0
2,2,OYO Hotel Airport Metro Near Chhatrapati Shiva...,"Andheri East, Mumbai",2289.0,64% off,879.0
3,3,Collection O Hotel Kiwi International Near Chh...,"Andheri East, Mumbai",2094.0,66% off,75.0
4,4,OYO Druv's Taj Palace Near Chhatrapati Shivaji...,"Near Asalpha Metro Station, Dhumai Estate, Mumbai",2656.0,65% off,686.0
...,...,...,...,...,...,...
413,413,Flagship Hotel Red Rose Near Noapara Metro Sta...,"Dum Dum, Kolkata",815.0,67% off,74.0
414,414,OYO Townhouse 444 Heera Holiday Inn Near St. T...,"51,Elliot Road Park Street Near Assembly Of Go...",811.0,67% off,245.0
415,415,Flagship Swastik Inn Near South City Mall,"Poddar Nagar, Kolkata",1441.0,67% off,260.0
416,416,OYO Flagship 76629 Bimla Regency Near Noapara ...,"Police Station, Dum Dum, Kolkata",929.0,67% off,604.0
417,417,OYO Flagship 812443 MRS Inn,"Sector III, Kolkata",1199.0,57% off,3.0

In [25]:
df1 = df[df.isna().any(axis=1)]

In [26]:
df1

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
418,418,OYO Padmavati Projects Pvt Ltd Near Netaji Sub...,"Biswa Bangla Sarani Behind Binany Building, Ch...",NaN,NaN,6.0
419,419,OYO Pallyshree Guest House,"Jyangra Sani Mandir, Baguiati Jora Mandir Chin...",NaN,NaN,7.0
420,420,Oyo Townhouse 92944 Hotel Pan Asia International,"Jatin Das Road, Kolkata",NaN,NaN,144.0
421,421,OYO Flagship Hotel The Buddha Fooding And Lodging,"Near Samabayika Behala, Kolkata",NaN,NaN,7398.0
422,422,Super OYO Townhouse Hotel Vrindavan,AA-027 Salt Lake Sector 1 1st Cross Road PNB I...,NaN,NaN,7.0
423,423,Collection O Rest In Near Saltlake,"Near Newtown Bus stand , Kolkata",NaN,NaN,127.0
424,424,Flagship 78299 White Stone Hospitality,Aminia Restaurant Back Side Chinar Park Crossi...,NaN,NaN,161.0
425,425,Collection O 812085 Hotel 7dayz Inn Near City ...,"West Bengal, Kolkata",NaN,NaN,69.0
426,426,Collection O 812607 Hotel G.N Palace,"Bara Bazar, Kolkata",NaN,NaN,107.0
427,427,Flagship Divya Jyoti Inn Near RDB Cinemas,"AI 87 Street No 23 Action Area 1 Newtown, Raja...",NaN,NaN,77.0
428,428,OYO Flagship 70403 Chinar Inn,"Behind Shree Shree Bholanath Kali Temple, Kolkata",NaN,NaN,130.0
429,429,OYO Hotel Padmavati Near Netaji Subhash Chandr...,"Biswa Bangla Sarani Behind Binany Building, Ch...",NaN,NaN,24.0
430,430,OYO Flagship 81584 Hotel Swagatam,"Rajarhat, Kolkata",NaN,NaN,129.0
431,431,Collection O 64870 Hotel Holiday Science City,SANJHA CHULHA RESTAURANT SCIENCE CITY EM BYE PASS,NaN,NaN,1.0
432,432,OYO Comfort Stays,"Rajarhat, Kolkata",NaN,NaN,35.0
433,433,Flagship Heritage Inn Near City Centre Salt Lake,"Salt Lake, Kolkata",NaN,NaN,22.0
434,434,OYO Flagship 78267 City Inn,Avisar Spencer Kalikapur,NaN,NaN,16.0
435,435,Collection O 76651 Dovers Inn,"Opp Gariahat Police Station, Kolkata",NaN,NaN,23.0
436,436,Capital O Hotel Heritage Near VIP Road,"VIP Rd, Beside Spandhan Hospital, Raghunathpur...",NaN,NaN,21.0
437,437,Collection O Tulsi Palace,", Kolkata",NaN,NaN,53.0
438,438,OYO Flagship 812166 Moon Regency,"Sector 2, Kolkata",NaN,NaN,NaN
439,439,OYO Pratiksha Guest House Near City Centre Sal...,"Bangur Avenue Block B, Kolkata Kolkata West Be...",NaN,NaN,NaN
440,440,Townhouse 1210 Brill Rooms Inn,"Action Area 1A, Kolkata",NaN,NaN,NaN
441,441,Collection o 82136 Elite Stay,AL283 Al block salt lake sector 2 KOLKATA.,NaN,NaN,NaN
442,442,OYO Flagship Trivedi Inn Near Ruby Hospital,"Kasba, Kolkata",NaN,NaN,NaN
443,443,Super OYO Flagship Mourigram Near Andul Rd,"Howrah, Kolkata",NaN,NaN,NaN
444,444,Flagship Sammy Hospitality,"Salt Lake, Kolkata",NaN,NaN,NaN
445,445,Flagship Ankita Guest House,"Near Gst Bhawan, Kolkata",NaN,NaN,NaN
446,446,OYO Karunamoyee Guest House Near City Centre S...,"Karunamoyee Bus Terminal, Bidhannagar, Kolkata",NaN,NaN,NaN
447,447,OYO Smriti Villa Residency,"Sector IIInull, Kolkata",NaN,NaN,NaN
448,448,OYO Sima Inn Guest House Near City Centre Salt...,"Near Near Salt Lake, Sector 2, Kolkata",NaN,NaN,NaN
449,449,Flagship Chinar Heavens Near Netaji Subhash Ch...,"AS/267, KAIKHALI, CHINAR PARK, P.O. - AIRPORT,...",NaN,NaN,NaN
450,450,Flagship Scholars Motel guest House) Near St....,"Esplanade, Kolkata",NaN,NaN,NaN
451,451,Flagship H B Guest House,"Near Ruby Hospital, Kolkata",NaN,NaN,NaN
452,452,OYO Smriti Villa Near City Centre Salt Lake,"GD-138, GD MARKET, Near NIH, Salt Lake",NaN,NaN,NaN
453,453,SPOT ON Swapna Guest House Near Birla Mandir,1 No Hatgachia Dhapa Road Kolkata Behind Itc S...,NaN,NaN,NaN
454,454,Flagship 7 Div Guest House Near City Centre Sa...,"CK 109 Near Saltlake Sector 2, 9 No Water Tank...",NaN,NaN,NaN
455,455,Flagship New Silver Inn,"Near Tagore Park, Tijala, Kolkata",NaN,NaN,NaN
456,456,Flagship Tinker Bell Near Acropolis Mall,"Mukundapur, Kolkata",NaN,NaN,NaN
457,457,OYO Flagship Hotel Suleman Palace Near St. Tho...,"Bux Lane, Kolkata",NaN,NaN,NaN
458,458,Flagship Rakhakali Guest House Fooding And Loding,"near Shalimar station ticket counter , Kolkata",NaN,NaN,NaN
459,459,Flagship Kajali Guest House Near Birla Mandir,"Near Bosepukur, Kasba, Kolkata",NaN,NaN,NaN

In [30]:
df['Price'].max()

4069.0

In [31]:
df['Price'].min()

449.0

In [32]:
df['Price'].argmax()

10

In [33]:
df['Price'].argmin()

296

In [34]:
df['Rating'].min()

1.0

In [35]:
df['Rating'].max()

7398.0

In [37]:
print(df['Hotel_name'])

0                   Capital O 80951 Hotel Radisson Suite
1                    OYO SilverKey Hotel Manas Residency
2      OYO Hotel Airport Metro Near Chhatrapati Shiva...
3      Collection O Hotel Kiwi International Near Chh...
4      OYO Druv's Taj Palace Near Chhatrapati Shivaji...
                             ...
455                              Flagship New Silver Inn
456             Flagship Tinker Bell Near Acropolis Mall
457    OYO Flagship Hotel Suleman Palace Near St. Tho...
458    Flagship Rakhakali Guest House Fooding And Loding
459        Flagship Kajali Guest House Near Birla Mandir
Name: Hotel_name, Length: 460, dtype: object

In [38]:
df['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
455    455
456    456
457    457
458    458
459    459
Name: Unnamed: 0, Length: 460, dtype: int64

In [39]:
df['Discount']

0      65% off
1      65% off
2      64% off
3      66% off
4      65% off
        ...
455        NaN
456        NaN
457        NaN
458        NaN
459        NaN
Name: Discount, Length: 460, dtype: object

In [40]:
df['Rating']

0      104.0
1      410.0
2      879.0
3       75.0
4      686.0
       ...
455      NaN
456      NaN
457      NaN
458      NaN
459      NaN
Name: Rating, Length: 460, dtype: float64

In [43]:
print(df.loc[[459]])

     Unnamed: 0                                     Hotel_name  \
459         459  Flagship Kajali Guest House Near Birla Mandir

                           Location  Price Discount  Rating
459  Near Bosepukur, Kasba, Kolkata    NaN      NaN     NaN

In [44]:
print(df.iloc[[459]])\

     Unnamed: 0                                     Hotel_name  \
459         459  Flagship Kajali Guest House Near Birla Mandir

                           Location  Price Discount  Rating
459  Near Bosepukur, Kasba, Kolkata    NaN      NaN     NaN

In [48]:
df.drop(['Unnamed: 0'],axis=1)

,Hotel_name,Location,Price,Discount,Rating
0,Capital O 80951 Hotel Radisson Suite,"India, Mumbai",2819.0,65% off,104.0
1,OYO SilverKey Hotel Manas Residency,"Chembur East, Mumbai",2702.0,65% off,410.0
2,OYO Hotel Airport Metro Near Chhatrapati Shiva...,"Andheri East, Mumbai",2289.0,64% off,879.0
3,Collection O Hotel Kiwi International Near Chh...,"Andheri East, Mumbai",2094.0,66% off,75.0
4,OYO Druv's Taj Palace Near Chhatrapati Shivaji...,"Near Asalpha Metro Station, Dhumai Estate, Mumbai",2656.0,65% off,686.0
...,...,...,...,...,...
455,Flagship New Silver Inn,"Near Tagore Park, Tijala, Kolkata",NaN,NaN,NaN
456,Flagship Tinker Bell Near Acropolis Mall,"Mukundapur, Kolkata",NaN,NaN,NaN
457,OYO Flagship Hotel Suleman Palace Near St. Tho...,"Bux Lane, Kolkata",NaN,NaN,NaN
458,Flagship Rakhakali Guest House Fooding And Loding,"near Shalimar station ticket counter , Kolkata",NaN,NaN,NaN
459,Flagship Kajali Guest House Near Birla Mandir,"Near Bosepukur, Kasba, Kolkata",NaN,NaN,NaN

In [50]:
df['Price']>=2000

0       True
1       True
2       True
3       True
4       True
       ...
455    False
456    False
457    False
458    False
459    False
Name: Price, Length: 460, dtype: bool

In [57]:
df[df['Price'] > 2000]

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
0,0,Capital O 80951 Hotel Radisson Suite,"India, Mumbai",2819.0,65% off,104.0
1,1,OYO SilverKey Hotel Manas Residency,"Chembur East, Mumbai",2702.0,65% off,410.0
2,2,OYO Hotel Airport Metro Near Chhatrapati Shiva...,"Andheri East, Mumbai",2289.0,64% off,879.0
3,3,Collection O Hotel Kiwi International Near Chh...,"Andheri East, Mumbai",2094.0,66% off,75.0
4,4,OYO Druv's Taj Palace Near Chhatrapati Shivaji...,"Near Asalpha Metro Station, Dhumai Estate, Mumbai",2656.0,65% off,686.0
5,5,Collection O Collection O Hotel Jayshree Domes...,"Vile Parle East, Mumbai",3127.0,65% off,588.0
6,6,OYO Hotel Blue Executive Near Chhatrapati Shiv...,"On main street, Near Saki Vihar complex, Sakin...",2772.0,65% off,1875.0
8,8,OYO Hotel Blue Sapphire Residency Near Chhatra...,"Near The Crescent Business Park, Sakinaka, Mumbai",2220.0,65% off,1144.0
10,10,Super OYO Hotel Divine Residency Near Phoenix ...,"Near Chirag Nagar Police Station, LBS Marg, Mu...",4069.0,65% off,644.0
11,11,Capital O Hotel Adore Palace,"Sakinaka Jharimari Link Road, Mumbai",2092.0,66% off,34.0
12,12,OYO Hotel Greenforest Near Airport Road Metro ...,"Near Axis Bank, Customs Colony, Mumbai",2247.0,67% off,664.0
13,13,Capital O Hotel Pearl Near US Embassy,"Near Wajan Kata Bus Stop, Indira Nagar, Mumbai",2896.0,65% off,119.0
14,14,OYO Anjali Hotel Mumbai,"Near Kanti Nagar, Andheri East, Mumbai",2535.0,67% off,477.0
17,17,OYO Royal Inn Near Versova Beach,"Near Jankidevi Public School Road, Varsova, Mu...",2740.0,67% off,465.0
18,18,Capital O Hotel Zaid International NEAR L&T Sa...,"Near Huntsman Building, Marol, Mumbai",3273.0,65% off,711.0
19,19,OYO Flagship Om Residency Near Airport Road Me...,"Near Ganesh nagar, Marol, Mumbai",2530.0,67% off,16.0
24,24,OYO Townhouse Chic 364 Richmond Road Near Cubb...,"Near Baldwin Women College, Richmond Town, Ben...",2082.0,65% off,1457.0
29,29,Super OYO Design Oyo Townhouse OAK Clove Bout...,"4th Block, Rajaji Nagar, Bangalore",3053.0,65% off,1360.0
33,33,Super OYO Townhouse 238 Tierra Woods Near Hala...,"Halasuru, Bangalore",2276.0,65% off,1675.0
39,39,Collection O Hotel Palm Tree,"Near Halasuru Metro Station, Ulsoor, Bangalore",2566.0,65% off,1271.0
51,51,Super OYO Design Oyo Townhouse OAK Clove Bout...,"4th Block, Rajaji Nagar, Bangalore",3053.0,65% off,1360.0
52,52,Collection O Hotel Palm Tree,"Near Halasuru Metro Station, Ulsoor, Bangalore",2566.0,65% off,1271.0
61,61,Super OYO Capital O Blooms Stay Inn Near Snow ...,"Bangalore Urban, Bangalore",2063.0,65% off,663.0
62,62,Super OYO Townhouse 273 Hosur Main Road Bomman...,"Near krishna Theature Bommanahalli, Hosur main...",2302.0,65% off,1983.0
102,102,Townhouse OAK Hotel Prime,"Near Karnataka Bank, Babusapalya Main Road, Ba...",2061.0,65% off,917.0
111,111,Super OYO Capital O Savi International Near Be...,"Near Mantri Square Mall, Sheshadripuram, Banga...",2099.0,65% off,1044.0
136,136,Collection O 62387 Emara Grand Hotel,"H S R Layout, Bangalore",2489.0,65% off,8.0
138,138,Hotel Telehaus International Near Lalbagh Bota...,"Near Karnataka Bank, Shanti Nagar, Bangalore",2099.0,65% off,99.0
139,139,OYO Townhouse 078 DODDA BANASWADI,"Near Udupi Upachar, Lakshmamma Layout, Bangalore",2082.0,65% off,287.0
142,142,Collection O B Six Hotel,"Kalasipalyam Main Road, Bangalore",2392.0,65% off,159.0
145,145,Collection O Ira International Boutique Hotel,"India, Bangalore",2211.0,65% off,7.0
149,149,Palette - Hotel Metro View Inn,"India, Bangalore",2601.0,47% off,9.0
150,150,OYO Flagship 69693 The Royal Park,"Near OYE Amritsar, New Tippasandra, Banglore",2339.0,65% off,1.0
160,160,Super OYO Flagship Olivia Comforts Near Nexus ...,"Near Eat Street, Kormangala, Bangalore",2717.0,67% off,4151.0
180,180,Super OYO Townhouse 610 Derawal Nagar,"Near Vinayak Hoptiat, Gujranwala Town, Delhi",2011.0,65% off,3508.0
233,233,OYO Flagship 812357 Hotel Landmark Deluxe,"Karol Bagh, Delhi",2101.0,65% off,18.0
278,278,OYO Flagship 811181 Golden Key Inn,plot no 341 Shalimar village opposite railway ...,2048.0,67% off,12.0
281,281,Flagship Hansa Residency Near Akshardham,"Laxmi Nagar, Delhi",2306.0,67% off,33.0
282,282,OYO Flagship 805147 Hotel Sona International N...,"Paharganj near Delhi Railway Station)null, Delhi",2190.0,70% off,72.0
283,283,OYO Flagship 83552 Anchal Guest House,"India, Delhi",2048.0,67% off,38.0
321,321,Flagship The Nest Inn Near Acropolis Mall,"Near Raj Market, Kolkata",2032.0,65% off,194.0
354,354,Capital O Fortune Inn Near Birla Mandir,"Kasba, Kolkata",2185.0,65% off,674.0
355,355,Capital O Kabita Guest House Near Acropolis Mall,Mukundapur Main Road Seven Maddox Square Multi...,2082.0,65% off,68.0
370,370,OYO Hotel City Of Joy,"Salt Lake, Kolkata",2082.0,65% off,17.0
372,372,OYO Flagship Monurama Homestay Near Acropolis ...,"Purba Diganta, Kolkata",2185.0,65% off,32.0
384,384,Flagship Hotel Dreamline Near Acropolis Mall,"Near Sbi E-cornernullnull, Kolkata",3114.0,65% off,60.0
398,398,SPOT ON 812338 Om Palace Guest House,"Near Jalsaghar Netaji Nagar, Kolkata",2082.0,65% off,35.0

In [61]:
df[(df['Price'] > 2000) & (df['Rating'] > 100)]

,Unnamed: 0,Hotel_name,Location,Price,Discount,Rating
0,0,Capital O 80951 Hotel Radisson Suite,"India, Mumbai",2819.0,65% off,104.0
1,1,OYO SilverKey Hotel Manas Residency,"Chembur East, Mumbai",2702.0,65% off,410.0
2,2,OYO Hotel Airport Metro Near Chhatrapati Shiva...,"Andheri East, Mumbai",2289.0,64% off,879.0
4,4,OYO Druv's Taj Palace Near Chhatrapati Shivaji...,"Near Asalpha Metro Station, Dhumai Estate, Mumbai",2656.0,65% off,686.0
5,5,Collection O Collection O Hotel Jayshree Domes...,"Vile Parle East, Mumbai",3127.0,65% off,588.0
6,6,OYO Hotel Blue Executive Near Chhatrapati Shiv...,"On main street, Near Saki Vihar complex, Sakin...",2772.0,65% off,1875.0
8,8,OYO Hotel Blue Sapphire Residency Near Chhatra...,"Near The Crescent Business Park, Sakinaka, Mumbai",2220.0,65% off,1144.0
10,10,Super OYO Hotel Divine Residency Near Phoenix ...,"Near Chirag Nagar Police Station, LBS Marg, Mu...",4069.0,65% off,644.0
12,12,OYO Hotel Greenforest Near Airport Road Metro ...,"Near Axis Bank, Customs Colony, Mumbai",2247.0,67% off,664.0
13,13,Capital O Hotel Pearl Near US Embassy,"Near Wajan Kata Bus Stop, Indira Nagar, Mumbai",2896.0,65% off,119.0
14,14,OYO Anjali Hotel Mumbai,"Near Kanti Nagar, Andheri East, Mumbai",2535.0,67% off,477.0
17,17,OYO Royal Inn Near Versova Beach,"Near Jankidevi Public School Road, Varsova, Mu...",2740.0,67% off,465.0
18,18,Capital O Hotel Zaid International NEAR L&T Sa...,"Near Huntsman Building, Marol, Mumbai",3273.0,65% off,711.0
24,24,OYO Townhouse Chic 364 Richmond Road Near Cubb...,"Near Baldwin Women College, Richmond Town, Ben...",2082.0,65% off,1457.0
29,29,Super OYO Design Oyo Townhouse OAK Clove Bout...,"4th Block, Rajaji Nagar, Bangalore",3053.0,65% off,1360.0
33,33,Super OYO Townhouse 238 Tierra Woods Near Hala...,"Halasuru, Bangalore",2276.0,65% off,1675.0
39,39,Collection O Hotel Palm Tree,"Near Halasuru Metro Station, Ulsoor, Bangalore",2566.0,65% off,1271.0
51,51,Super OYO Design Oyo Townhouse OAK Clove Bout...,"4th Block, Rajaji Nagar, Bangalore",3053.0,65% off,1360.0
52,52,Collection O Hotel Palm Tree,"Near Halasuru Metro Station, Ulsoor, Bangalore",2566.0,65% off,1271.0
61,61,Super OYO Capital O Blooms Stay Inn Near Snow ...,"Bangalore Urban, Bangalore",2063.0,65% off,663.0
62,62,Super OYO Townhouse 273 Hosur Main Road Bomman...,"Near krishna Theature Bommanahalli, Hosur main...",2302.0,65% off,1983.0
102,102,Townhouse OAK Hotel Prime,"Near Karnataka Bank, Babusapalya Main Road, Ba...",2061.0,65% off,917.0
111,111,Super OYO Capital O Savi International Near Be...,"Near Mantri Square Mall, Sheshadripuram, Banga...",2099.0,65% off,1044.0
139,139,OYO Townhouse 078 DODDA BANASWADI,"Near Udupi Upachar, Lakshmamma Layout, Bangalore",2082.0,65% off,287.0
142,142,Collection O B Six Hotel,"Kalasipalyam Main Road, Bangalore",2392.0,65% off,159.0
160,160,Super OYO Flagship Olivia Comforts Near Nexus ...,"Near Eat Street, Kormangala, Bangalore",2717.0,67% off,4151.0
180,180,Super OYO Townhouse 610 Derawal Nagar,"Near Vinayak Hoptiat, Gujranwala Town, Delhi",2011.0,65% off,3508.0
321,321,Flagship The Nest Inn Near Acropolis Mall,"Near Raj Market, Kolkata",2032.0,65% off,194.0
354,354,Capital O Fortune Inn Near Birla Mandir,"Kasba, Kolkata",2185.0,65% off,674.0

# 7 experiment

In [51]:
import numpy as np
import pandas as pd

In [52]:
data = [10,20,30,40,50]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [54]:
data = {'A':10, 'B':20, 'C':30, 'D':40, 'E':50}
series = pd.Series(data)
series

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [62]:
data = [['a',25],['b',35],['c',45],['d',55]]
df = pd.DataFrame(data,columns=['Alpha','Integer'])
df

  Alpha  Integer
0     a       25
1     b       35
2     c       45
3     d       55

In [64]:
data = {'Name':['prakash','Bindush','balaji'],
       'Age':[20,20,20]}
df = pd.DataFrame(data)
df

      Name  Age
0  prakash   20
1  Bindush   20
2   balaji   20

In [65]:
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9